body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
/* header starts here */
header{
    margin-bottom: 100px;
}
.navbar-container{
    margin-bottom: 100px;
}
.cover-image img{
 height: 600px;
}
.started-para{
    font-size: 80px;
}
/* header ends here */

/* discover-section-starts here */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.courses{
    margin:10px;
}
.discover-para{
    max-width: 650px;
}
/* discover-section-ends here */

/* explore-institute section starts here */
.explore-institute{
    margin-top: 100px;
}
.explore-image img{
    min-height: 500px;
    
}
.explore-para{
    max-height: 100%;
}
/* explore-institute section ends here */
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}
/* join-section-starts here */
.join-section{
    height: 250px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.join-button{
    background-color: white;
    color: rgb(6, 212, 212);
}
/* join-section-ends here */
/* feedback-section-starts here */
.feedback-section{
    margin-top: 100px;
}
.feedback{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px
}
.filled{
    color: orange;
}
.half-filled{
    color: rgb(248, 211, 166);
}
.icon-resize{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    margin: auto;
}

/* feedback-section-ends here */

/* questions-section starts here */
.question-section{
    margin-top: 100px;
}
.questions-ans{
    max-width: 75%;
}
/* questions-section ends here */

/* company-section-starts here */
.companies-image{
    margin-top: 110px;
    margin-bottom: 100px;
}
.companies-image img{
    width: 130px;
    margin:  20px 25px;
}

/* company-section-ends here */

/* footer-section-starts here */
.icons .link-icon {
    color: aliceblue;
    font-size: x-large;
    margin: 5px;
  }
/* footer-section-ends here */

/* for mobile */
@media only screen and (max-width: 576px){
.grid-container{
    grid-template: none;
}
.discover-para{
    min-width: 100%;
    margin: 10px 0px;
}
.course-item{
    flex-direction: column;
}
.cover-image img{
    height: 450px;
   }
.started-para{
    font-size: 30px;
}
.join-section{
    flex-direction: column;
    text-align: center;
}
.successful{
    text-align: center;
}
.success-para{
   min-width: 100%;
}
.cards{
    grid-template-columns: repeat(1,1fr);
}
.card-img-top img{
   min-width:100%;
}
.card-body{
    text-align: center;
}
.feedback{
    grid-template-columns: repeat(1,1fr);
}
.icon-resize{
    display: none;
}
.questions-ans{
    max-width: 100%;
}
.companies-image{
    display: none;
}
footer{
    margin-top: 100px;
}
}

/* for tablet */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
    .started-para{
        font-size: 50px;
    }
    .hidden{
        display: none;
    }
    .join-section{
        flex-direction: column;
        text-align: center;
    }
    .success-para{
        min-width: 80%;
     }
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .card-img-top img{
        min-width:100%;
     }
     .feedback{
        grid-template-columns: repeat(1,1fr);
    }
    .icon-resize{
        display: none;
    }
    .questions-ans{
        max-width: 100%;
    }
    .companies-image{
        display: none;
    }
    footer{
        margin-top: 100px;
    }
    }
