body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
/* header starts here */
header{
    margin-bottom: 70px;
}
.navbar-container{
    margin-bottom: 100px;
}
.cover-image img{
 height: 600px;
}
.started-para{
    font-size: 80px;
}
/* header ends here */
/* discover-section-starts here */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.courses{
    margin:10px;
}
.discover-para{
    max-width: 650px;
}
/* discover-section-ends here */
/* join-section-starts here */
.join-section{
    height: 250px;
}
.join-button{
    background-color: white;
    color: rgb(6, 212, 212);
}
/* join-section-ends here */
.questions-ans{
    max-width: 75%;
}


/* for mobile */
@media only screen and (max-width: 576px){
.grid-container{
    grid-template: none;
}
.course-item{
    flex-direction: column;
}
.cover-image img{
    height: 450px;
   }
.started-para{
    font-size: 30px;
}
.join-section{
    flex-direction: column;
    text-align: center;
}
.questions-ans{
    max-width: 100%;
}
}

/* for tablet */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
    .started-para{
        font-size: 50px;
    }
    .join-section{
        flex-direction: column;
        text-align: center;
    }
    .questions-ans{
        max-width: 100%;
    }
    }
